<h1>Todas as notícias</h1>
<hr>
<section id="noticias">
    <div class="card text-dark mb-3">
        <h5 class="card-header">Titulo da noticias <small  > Data:17/03/2022</small><p style="font-size: 15px;;" >Autor:</p></h5>
        <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga optio dicta dolore nisi
            suscipit, commodi voluptas perferendis laudantium numquam enim
            aut dolor voluptatum repellendus perspiciatis fugit facere reiciendis cumque autem.</div>
    </div>
    <div class="card text-dark mb-3">
        <h5 class="card-header">Titulo da noticias <small  > Data:17/03/2022</small><p style="font-size: 15px;;" >Autor:</p></h5>
        <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga optio dicta dolore nisi
            suscipit, commodi voluptas perferendis laudantium numquam enim
            aut dolor voluptatum repellendus perspiciatis fugit facere reiciendis cumque autem.</div>
    </div>
    <div class="card text-dark mb-3">
        <h5 class="card-header">Titulo da noticias <small  > Data:17/03/2022</small><p style="font-size: 15px;;" >Autor:</p></h5>
        <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga optio dicta dolore nisi
            suscipit, commodi voluptas perferendis laudantium numquam enim
            aut dolor voluptatum repellendus perspiciatis fugit facere reiciendis cumque autem.</div>
    </div>
    

    
</section>